@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway|Source+Code+Pro:300&display=swap');

/*************************
GLOBAL STYLES
*************************/

body {
  font-family: 'Poppins', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
#main {
  margin: 35px;
  padding: 20px;
}
/* p {
  margin: 0px;
  padding: 0px;
} */
a {
  text-decoration: none;
}

/*************************
HEADING
*************************/
header {
  display: flex;
}
h1 {
  color: #f68b1f;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 3.75rem;
  font-weight: normal;
  line-height: 1.2rem;
  margin: 0 0 15px 0;
  max-width: 355px;
  padding: 30px 0px 0px 5px;
}

.slogan {
  color: #fff;
  font-size: 1.25rem;
  padding-left: 10px;
}

.contact-us {
  color: #fff;
}

h2 {
  /* font-size: 0.75em; */
  margin: 10px 0 0;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  margin: 15px;
  padding-top: 50px;
  font-weight: normal;
}

/*************************
NAVIGATION
*************************/

/*************************
NAVIGATION MENU
*************************/

/*************************
Body
*************************/

.heading {
  color: #1a2b8f;
}

/*************************
Main
*************************/
.clients {
  padding: 10px 10px 5px 10px;
  margin-bottom: 20px;
}

.client-content {
  padding-bottom: 20px;
}

.clients-background {
  background-color: #2f2f2f;
  color: #fff;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: #808080;

  /* position: relative; */
  /* padding-bottom: 56.25%;
  padding-top: 35px; */
  /* height: 0; */
  /* overflow: hidden; */
}

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 275px;
}

.logo-img > img {
  max-width: 275px;
  padding: 15px 0px;
  height: auto;
}

/* .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
/*************************
FORM
*************************/

#emailform {
  margin: 15px 100px;
  padding: 15px;
}

/*************************
FOOTER
*************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
.mail {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

/*************************
COLORS
*************************/

/* site body */
body {
  background-color: #2f2f2f;
  color: #000;
}

header {
  background: #2f2f2f;
  border-color: #2f2f2f;
}

/* logo text */

.clients {
  background-color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a,
nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected,
nav a:hover {
  color: #fff;
}

footer {
  background-color: #2f2f2f;
}

/*************************
Media Query  
*************************/
@media (min-width: 741px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .clients {
    margin-bottom: 40px;
  }
  .client-copy {
    display: inline-block;
    max-width: 40%;
  }
  .video-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 422px;
  }
  .logo-img {
    display: inline-block;
  }
  /* .client-content.video-left {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .client-content.video-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
  } */
  h2 {
    margin-top: -5px;
  }
  .client-copy {
    margin-top: 0;
    margin-left: 10px;
  }
}
