/*************************
GENERAL
*************************/

body {
  font-family: 'Open Sans' sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
#main {
  margin: 35px;
  padding: 20px;
}
a {
  text-decoration: none;
}

/*************************
HEADING
*************************/
header {
  padding: 10px;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  margin: 15px 0;
  padding: 15px;
  font-size: 2.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h4 {
  font-size: 1em;
  margin: 15px;
  padding-top: 50px;
  font-weight: normal;
}

/*************************
NAVIGATION
*************************/

/*************************
NAVIGATION MENU
*************************/
#nav {
  border: 1px solid #6ab47b;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#nav li {
  position: relative;
  display: inline;
}
#nav a {
  display: inline-block;
  padding: 10px;
}
#nav ul {
  position: absolute;
  /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
  left: -9999px;
  margin: 0;
  padding: 0;
  text-align: left;
}

#nav ul li {
  display: block;
}
#nav li:hover ul {
  left: 0;
}
#nav li:hover a {
  text-decoration: underline;
  background: #32673f;
}
#nav li:hover ul a {
  text-decoration: none;
  background: #6ab47b;
}
#nav li:hover ul a:hover {
  text-decoration: underline;
  background: #32673f;
}
#nav ul a {
  white-space: nowrap;
  display: block;
  border-bottom: 1px solid #32673f;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  background: #fff;
}

/*************************
Body
*************************/

.heading {
  color: #1a2b8f;
}

/*************************
FORM
*************************/

#emailform {
  margin: 15px 100px;
  padding: 15px;
}

/*************************
FOOTER
*************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.mail {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/*************************
COLORS
*************************/

/* site body */
body {
  background-color: #fff;
  color: #000;
}

/* green header */
header {
  background: #6ab47b;
  border-color: #6ab47b;
}

/* nav background on mobile */
nav {
  background: #6ab47b;
}

/* logo text */
h1,
h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a,
nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected,
nav a:hover {
  color: #fff;
}
